<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to fonts -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
    		<nav>
				<ul>
        			<li><a href="/">Home</a></li>
					<li><a href="/starters">start</a></li>
					<li><a href="/shibari">shibari</a></li>
					<li><a href="/library">library</a></li>
        		</ul>
    		</nav>
			<div class="container">
				{{ content }}
			</div><!-- /.container -->
			<footer>
				<ul>
				<li><a href="https://www.instagram.com/badDadditude" title="Instagram"><i class="fa fa-instagram fa-3x"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
